<section id="skills" class="mx-auto px-4 py-16 sm:py-24 bg-[#eaede7]">
    <div class="flex flex-col gap-3 p-2 justify-center items-center">
        <h1 [class]="styles.title">Technical Skills</h1>

        <p [class]="styles.text">
            My toolkit for building and exploring technology , from front-end to back-end, and into the world of AI.
        </p>

        <div class="flex flex-wrap justify-center gap-8 mt-10">
            <div *ngFor="let skill of skills" class="skill-card p-2 bg-[#609e6d] rounded-4xl text-center shadow-sm hover:animate-pulse transition-shadow duration-300">
                <h2 class="text-xl font-semibold min-w-5 mb-2 text-[#1b3221]">{{ skill.name }}</h2>
                <!-- <p class="text-[#677e7c]">{{ skill.description }}</p> -->
            </div>
        </div>
    </div>
</section>