<section id="projects" class="mx-auto py-16 sm:py-16 px-4">
    <div class="flex flex-col justify-center items-center gap-3 p-2">
        <h1 [class]="styles.title">
            Project Portfolio
        </h1>

        <p [class]="styles.text">
            A selection of my work, showcasing my skills across different domains.
        </p>

        <div class="container flex flex-row justify-center rounded bg-[#eaede7]">
            <div *ngFor="let domain of domains" class="flex flex-row py-2 px-3 gap-2.5">
                <button class="bg-transparent hover:bg-neutral-50 hover text-[#677e7c] w-auto p-2 cursor-pointer rounded-lg">
                    {{ domain }}
                </button>
            </div>
        </div>

        <div class="flex flex-col justify-center gap-12 p-5 m-5">
            <div *ngFor="let project of projects" class="flex flex-col justify-center border border-[#677e7c] rounded-lg">
                <img class="h-72 rounded-t-lg" src="https://wtoaxoehdtqtfggvbcjv.supabase.co/storage/v1/object/sign/project-images/CannabisStore3.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8wMjJiYjc2Yy1iMjJiLTRhNzItODc0Zi0zZWZjNWEzMDBiNmMiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJwcm9qZWN0LWltYWdlcy9DYW5uYWJpc1N0b3JlMy5wbmciLCJpYXQiOjE3NTMxNjkyMDgsImV4cCI6MTc4NDcwNTIwOH0.kyLCy_dFPuwBqC35ofSZB9429PcDqLyBIPGjqPWYmJ4">

                <div class="flex flex-col p-5 gap-2">
                    <h1 class="text-[#1b3221] font-bold text-2xl font-sans">{{ project.title }}</h1>
                    <p class="text-[#677e7c]">{{ project.description }}</p>

                    <div class="flex flex-row gap-3">
                        <p *ngFor="let tag of project.tags" class="rounded-2xl font-medium text-[#1b3221] bg-[#85ad8f] hover:bg-[#9dbea4] p-1 px-2">{{ tag }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>