<section id="hero" class="container mx-auto px-4 py-16 sm:py-24">
    <div class="flex flex-col justify-center items-center p-2 gap-3">
        <p class="text-[#677e7c]">Omphulusa Mashau</p>
         
        <h1 class="text-3xl md:text-5xl text-[#1b3221] font-extrabold font-serif">
            Software Engineer & AI Enthusiast
        </h1>
        
        <p class="text-lg text-center text-[#46594a]">
            A computer science graduate from South Africa with a passion for building impactful technology. 
            Curious about AI, Robotics, and IoT, I thrive on creating solutions the make a positive difference.
        </p>

        <div class="flex flex-row gap-3 justify-center items-center-safe">
            <button class="bg-[#376743] hover:bg-[#376750] py-3 px-5 cursor-pointer rounded text-white">
                View My Work 
                <i class='bx bx-right-arrow-alt'></i> 
            </button>

            <button class="hover:bg-[#d3b464] gap-3 py-3 px-5 cursor-pointer rounded border-[#d3b464] flex flex-row justify-center items-center">
                Dowload Resume
                <i class="bx bx-download"></i>
            </button>
        </div>
    </div>
</section>